<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Alvin.TrackingTodo.Windows.Properties.Settings.trackingConnectionString"
            connectionString="persistsecurityinfo=True;server=47.99.141.78;user id=tracking;password=123456;port=3306;database=tracking"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>